<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- raleway fonts -->
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <!-- use bulma -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css" rel="stylesheet">
    <!-- feathericons -->
    <script src="https://unpkg.com/feather-icons"></script>
    <!-- fontawesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <script src="/assets/js/bulma.js"></script>
  </head>
  <body>
    <nav class="navbar">
      <div class="container">
        <div class="navbar-brand">
          <a href="/" class="navbar-item">
            <img src="/assets/images/logo.svg" alt="Logo">
          </a>
            <span class="navbar-burger burger" data-target="navbarMenuHeroA">
              <span></span>
              <span></span>
              <span></span>
            </span>
        </div>
        <div id="navbarMenuHeroA" class="navbar-menu">
          <div class="navbar-end">
            <a href="/" class="navbar-item">
              Home
            </a>
            <a href="/gallery" class="navbar-item">
              Gallery
            </a>
            <a href="/blog" class="navbar-item">
              Blog
            </a>
            <span class="navbar-item">
              <a href="https://github.com/sira313/Learning-Bulma" class="button is-dark is-outlined">
                <span class="icon">
                  <i data-feather="github"></i>
                </span>
                <span>Github</span>
              </a>
            </span>
          </div>
        </div>
      </div>
    </nav>
    <script>
      feather.replace()
    </script>
  </body>
</html>