<nav class="navbar is-light">
  <div class="container">
    <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <img src="/assets/images/logo.svg" alt="Aflasio" width="112" height="28">
    </a>
    <div class="navbar-burger burger" data-target="navbarExampleTransparentExample">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <div id="navbarExampleTransparentExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" href="/gallery/">
        Gallery
      </a>
      <a class="navbar-item" href="/blog/">
        Blog
      </a>
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link" href="#">
          More
        </a>
        <div class="navbar-dropdown is-boxed">
          <a class="navbar-item" href="#">
            Friends
          </a>
          <a class="navbar-item" href="#">
            About
          </a>
        </div>
      </div>
    </div>

    <div class="navbar-end">
      <!-- socmed here -->
      <div class="navbar-item">
        <div class="field is-grouped">
          <p class="control">
            <a class="button has-transparent-bg" href="https://twitter.com/aflasio">
              <span class="icon">
                <i class="fab fa-twitter"></i>
              </span>
            </a>
          </p>
          <p class="control">
            <a class="button has-transparent-bg" href="https://deviantart.com/aflasio">
              <span class="icon">
                <i class="fab fa-deviantart"></i>
              </span>
            </a>
          </p>
          <p class="control">
            <a class="button has-transparent-bg" href="https://gitlab.com/sira313">
              <span class="icon">
                <i class="fab fa-gitlab"></i>
              </span>
            </a>
          </p>
          <p class="control">
            <a class="button has-transparent-bg" href="mailto:sira.argia@gmail.com">
              <span class="icon">
                <i class="fas fa-envelope"></i>
              </span>
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
  </div>
</nav>